/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@font-face {
    font-family: specialFont;
    src: url(../fonts/MegamaxJonathanToo-YqOq2.ttf);
}

/* CSS variables */
:root {
    /*To be used only for the logo, and text in the black bars above and below the main viewing area*/
    --title-font: "specialFont", Serif;
    --highlight-font: "Press Start 2P", Serif;
    --primary-text-font: "VT323", monospace;
    --red: #D0021B;
    --blue: #4A90E2;
    --yellow: #f5A623;
}

/*Button styles*/
button {
    background-color: #D0021B;
    border: 5px solid #F5A623;
    width: 150px;
    height: 50px;
    font-family: var(--primary-text-font);
    font-size: 1.3rem;
}

@media (hover: hover) and (pointer: fine) {
    button:hover {
        background-color: rgba(208, 2, 27, 0.5);
    }
}

button:active {
    background-color: #4A90E2;
}

/* Global styles */
#main-viewing-area {
    width: 730px;
    max-height: 95vh;
    min-height: 95vh;
    margin: auto;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

p {
    font-family: var(--primary-text-font);
}

.section-layout {
    width: 100%;
    flex-grow: 1;
}

.gradient-background-text-box {
    background-image: linear-gradient(rgba(255, 248, 248, 0.7), rgba(255, 248, 248, 0.7));
}

.hero-left-position-left {
    left: 2px;
}

.hero-right-position-right {
    right: 2px;
}

.hero-bottom-position {
    bottom: 10px;
}

.hero-size {
    width: 30px;
}

.hidden {
    display: none !important;
}

.visible-hidden {
    visibility: hidden;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.game-intro-card {
    border: 1px solid red;
    padding: 40px 80px;
    display: inline-block;
}

.bottom-left-sprite {
    padding-left: 10px;
}

.bottom-right-sprite {
    padding-right: 20px;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.mb-no {
    margin-bottom: 0px;
}

.mt-no {
    margin-top: 0px;
}

.mt-auto {
    margin-top: auto;
}

.red {
    color:var(--red);
}

.blue {
    color:var(--blue);
}

.yellow {
    color:var(--yellow);
}

.black {
    color:black;
}


/*Background images*/
body {
    background-image: linear-gradient(rgba(255, 248, 248, 0.4), rgba(255, 248, 248, 0.4)), url(../images/background-behind-viewing-area.webp);
    background-size: cover;
}

.map-image {
    background-image: linear-gradient(rgba(255, 248, 248, 0.7), rgba(255, 248, 248, 0.7)), url(../images/background-intro-screen.webp);
    background-position: center;
    background-size: cover;
}

.grasslands-image {
    background-image: linear-gradient(rgba(255, 248, 248, 0.3), rgba(255, 248, 248, 0.3)), url(../images/test-grasslands.jpg);
    background-position: center;
    background-size: cover;
}

.volcano-image {
    background-image: linear-gradient(rgba(255, 248, 248, 0.5), rgba(255, 248, 248, 0.5)), url(../images/test-volcano.jpg);
    background-position: center;
    background-size: cover;
}

.loading-image-1 {
    background-image: linear-gradient(rgba(255, 248, 248, 0.2), rgba(255, 248, 248, 0.2)), url(../images/test-l1.png);
    background-position: center;
    background-size: cover;
}

.loading-image-2 {
    background-image: linear-gradient(rgba(255, 248, 248, 0.2), rgba(255, 248, 248, 0.2)), url(../images/test-l2.png);
    background-position: center;
    background-size: cover;
}

.loading-image-3 {
    background-image: linear-gradient(rgba(255, 248, 248, 0.2), rgba(255, 248, 248, 0.2)), url(../images/test-l3.png);
    background-position: center;
    background-size: cover;
}

.loading-image-4 {
    background-image: linear-gradient(rgba(255, 248, 248, 0.2), rgba(255, 248, 248, 0.2)), url(../images/test-l4.png);
    background-position: center;
    background-size: cover;
}

.loading-image-5 {
    background-image: linear-gradient(rgba(255, 248, 248, 0.2), rgba(255, 248, 248, 0.2)), url(../images/test-l5.png);
    background-position: center;
    background-size: cover;
}

.start-image {
    background-image: linear-gradient(rgba(255, 248, 248, 0.2), rgba(255, 248, 248, 0.2)), url(../images/test-start.png);
    background-position: center;
    background-size: cover;
}

.castle-image {
    background-image: linear-gradient(rgba(255, 248, 248, 0.5), rgba(255, 248, 248, 0.5)), url(../images/test-castle.png);
    background-position: center;
    background-size: cover;
}

.prison-image {
    background-image: linear-gradient(rgba(255, 248, 248, 0.5), rgba(255, 248, 248, 0.5)), url(../images/prison-test.png);
    background-position: center;
    background-size: cover;
}

/*Intro page styles*/
#intro-page {
    align-content: center;
}

#into-page-elements-container {
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom:200px
}

#into-page-logo {
    min-width:100%;
    font-family: var(--highlight-font);
    font-size: 3rem;
}

.lh-intro-logo {
    line-height:4rem;
}

/*Header styles*/
#header {
    background-color: black;
    width: 100%;
    height: 40px;
}

h1 {
    color: white;
    font-family: var(--title-font);
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

/* Front page styles */
#start-game-button {
    margin: auto;
}


/* Loading screen styles */
#loading-area-hero-container,
#loading-area-right-hero-container {
    height: 35vh;
}

/* Hub area styles */
#games-container {
    display: flex;
    justify-content: space-around;
}

.game-box {
    padding: 15px;
}

#game-hub-text-area-container {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

#game-hub-text-area-box {
    border: 2px solid red;
    width: 700px;
    height: 15vh;
}

.npc-size {
    width: 35px;
}

#game-hub-area-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* Game one styles */
#game-one-all-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-one-indivdual-box-container {
    width: 33.33333%;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.game-one-indivdual-box {
    border: 1px solid red;
    width: 50px;
    height: 50px;
}

#game-one-text-area-container {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

#game-one-text-area-box {
    border: 2px solid red;
    width: 700px;
    height: 15vh;
}

.game-one-monster-size {
    width: 50px;
}

#game-one-area-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.game-one-box-background {
    background-color: red;
}

/* Game two styles */
#game-two-all-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game-two-all-box-container {
    padding-top: 25px;
}

.game-two-indivdual-box-container {
    width: 33.33333%;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.game-two-indivdual-box {
    border: 1px solid red;
    width: 130px;
    height: 50px;
}

#game-two-text-area-container {
    display: flex;
    justify-content: center;
    padding: 5px 10px 5px;
}

#game-two-text-area-box {
    border: 2px solid red;
    border-radius: 25px;
    width: 700px;
    height: 15vh;
}

.game-two-monster-size {
    width: 50px;
}

#game-two-area-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: auto;
    padding-bottom: 35px;
}

#game-two-area {
    display: flex;
    flex-direction: column;
}

.game-two-box-background {
    background-color: blue;
}

.game-two-box-background-correct {
    background-color: green;
}

/*This prevents text selection for game 2*/
.prevent-select {
    user-select: none;
}

/*Final area styles*/
.prince-size {
    width: 35px;
}

#final-area-text-area-container {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

#final-area-text-area-box {
    border: 2px solid red;
    width: 700px;
    height: 15vh;
}

#final-area-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/*Footer styles*/
#footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 25px;    
}

#footer p {
    font-family: var(--title-font);
    padding-top: 0.2rem;
}


/* Media Queries */
/*Screen sizes below 750px (This is beacuse the main viewing area is set at 730px and I aim to have some spavce around the main viewing area even on smaller deivces)*/
@media screen and (max-width: 750px) {

    /*Global styles*/
    #main-viewing-area {
        width: 95vw;
        max-height: 98vh;
        min-height: 98vh;
    }



    /* Game two styles */
    .game-two-indivdual-box {
        border: 1px solid red;
        width: 100px;
        height: 50px;
    }

    #game-two-area-bottom {
        padding-bottom: 25px;
    }



}