/* Fonts */

/* CSS variables */


/* Global styles */
body {
    background-color: blue;
}

#main-viewing-area {
    width: 730px;
    height: 600px;
    margin: auto;
    background-color: white;
    text-align: center;
}

.hero-left-position-left {
    left: 2px;
}

.hero-bottom-position-left {
    bottom: 10px;
}

.hero-size {
    width: 30px;
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

.aboslute {
    position: absolute;
}

.bottom-left-sprite {
    padding-left: 10px;
}

.bottom-right-sprite {
    padding-right: 20px;
}

/* Front page styles */
#start-game-button {
    margin: auto;
}


/* Loading screen styles */
#loading-area-hero-container {
    height: 35vh;
}



/* Hub area styles */
#top-row-games,
#bottom-row-games {
    display: flex;
    justify-content: space-around;
}

.game-box {
    padding: 15px;
}

#game-hub-text-area-container {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}


#game-hub-text-area-box {
    border: 2px solid red;
    width: 700px;
    height: 15vh;
}

.npc-size {
    width: 35px;
}

#game-hub-area-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}